<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ces_socialinfo</name>
    <displayName><![CDATA[Social Contact Information]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Write your Social Contact details]]></description>
    <author><![CDATA[codeeshop]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[are you sure ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>